<h2 class="text-center my-5">{{ isEdited ? "Edit" : "Create" }} Employee</h2>
<div
  class="text-center text-danger"
  *ngIf="errorMessage !== ''"
  style="color: red"
>
  {{ errorMessage }}
</div>
<form
  *ngIf="errorMessage === ''"
  (ngSubmit)="onSubmit()"
  #employeeForm="ngForm"
  class="border-rounded p-5 w-50 align-center mb-5 mx-auto"
>
  <div class="mb-3">
    <label class="form-label" for="firstName">First Name*</label>
    <input
      required
      #firstName="ngModel"
      class="form-control"
      type="text"
      id="firstName"
      [(ngModel)]="employee.firstName"
      name="firstName"
    />
    <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
      <div class="text-danger" *ngIf="firstName.errors?.['required']">
        First Name is Required
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="lastName">Last Name*</label>
    <input
      required
      #lastName="ngModel"
      class="form-control"
      type="text"
      id="lastName"
      [(ngModel)]="employee.lastName"
      name="lastName"
    />
    <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
      <div class="text-danger" *ngIf="lastName.errors?.['required']">
        Last Name is Required
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">Email*</label>
    <input
      required
      email
      #email="ngModel"
      class="form-control"
      type="email"
      id="email"
      [(ngModel)]="employee.email"
      name="email"
    />
    <div *ngIf="email.invalid && (email.touched || email.dirty)">
      <div class="text-danger" *ngIf="email.errors?.['required']">
        Email is Required
      </div>
    </div>
    <div *ngIf="email.invalid && (email.touched || email.dirty)">
      <div class="text-danger" *ngIf="email.errors?.['email']">
        Email is not valid
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="phone">Phone*</label>
    <input
      required
      #phone="ngModel"
      class="form-control"
      type="tel"
      id="phone"
      [(ngModel)]="employee.phone"
      name="phone"
    />
    <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
      <div class="text-danger" *ngIf="phone.errors?.['required']">
        Phone is Required
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="position">Position*</label>
    <input
      required
      #position="ngModel"
      class="form-control"
      type="text"
      id="position"
      [(ngModel)]="employee.position"
      name="position"
    />
    <div *ngIf="position.invalid && (position.touched || position.dirty)">
      <div class="text-danger" *ngIf="position.errors?.['required']">
        Position is Required
      </div>
    </div>
  </div>

  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="employeeForm.invalid"
  >
    {{ isEdited ? "Edit" : "Create" }}
  </button>
</form>
